  .query-editor-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    background: linear-gradient(to right, #07090c, #12161b, #1b2125, #242a33);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px !important;
  }

  ::-webkit-scrollbar{
    width: 0px;
  }

  h5 {
    margin-top: 0;
  }
  
  pre {
    white-space: pre-wrap;
    max-height: 500px;
  }
  
  .preformatted-query {
    background-color: rgba(0, 75, 183, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    max-height: 250px;
    overflow-y: auto;
    color: white;
  }
  
  .MuiButton-root {
    margin-top: 20px;
  }

  .addRule {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}